@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: translateX(-50%) rotate(0deg); }
  25% { transform: translateX(calc(-50% - 5px)) rotate(-1deg); }
  75% { transform: translateX(calc(-50% + 5px)) rotate(1deg); }
}

html, body { margin: 0; padding: 0; }
